.schedule {
  background: #B9D3B6;
  color: #003262;
  font-weight: 300;
}

.to-beginners {
  width: 700px;
  margin: 0 auto;
  text-align: justify;
}

.to-beginners .address {
  margin-top: 0;
}

.to-beginners .signature {
  text-align: right;
  font-style: italic;
}

.schedule h2 {
  font-weight: 300;
}

.schedule table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  border: 1px solid rgba(0,0,0,0.2);
  color: black;
  text-align: center;
}

.schedule table td {
  background: white;
}

.schedule table th,
.schedule table td {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 5px;
}

.schedule .days th {
  width: 15%;
  font-weight: 300;
}

.schedule .header-row th {
  font-weight: 300;
}

.schedule .days th:first-of-type {
  width: 25%;
}

.schedule .coach {
  width: 12.5%;
}

.schedule .time {
  width: 12.5%;
}

.schedule .data-row {
  height: 70px;
}

.schedule .days {
  background: #003262;
  color: #FDB515;
}

.schedule .header-row {
  background: #2D637F;
  color: white;
}

.schedule .data-row td:first-child,
.schedule .data-row td:nth-child(2) {
  background: #C2B9A7;
}

.schedule .empty {
  background: #eee;
}

.basics {
  background-color: #2D637F;
}

.basics h3 {
  font-weight: 100;
}

.classes {
  display: table;
  margin-left: -50px;
  margin-top: -50px;
  width: 1100px;
  border-collapse: separate;
  border-spacing: 50px;
}

.class {
  display: table-cell;
  width: 50%;
}

.class h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
}

.class .info {
  margin-bottom: 20px;
  font-style: italic;
}

.coaches {
  font-size: 16px;
  display: table;
  margin-left: -50px;
  margin-top: -50px;
  width: 1100px;
  border-collapse: separate;
  border-spacing: 50px;
}

.coach {
  background: #00B2A5;
  margin-bottom: 20px;
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

.coach.spacer {
  background: none;
}

.coach::after {
  content: '';
  display: block;
  clear: both;
}

.coach figure {
  float: left;
  width: 60%;
  margin: 0 20px 10px 0;
}

.coach figure.right {
  float: right;
  margin: 0 0 10px 20px;
}

.coach figure.full {
  float: none;
  width: 100%;
  margin: 0 0 20px 0;
}

.coach figure img,
.coach figure video {
  width: 100%;
}

.coach h3 {
  font-weight: 300;
  margin: 20px 20px 0;
}

.coach .hometown,
.coach .position {
  margin: 5px 20px 0;
  font-style: italic;
}

.coach .description {
  padding: 20px;
}

.competitive {
  background: #FDB515;
  color: #003262;
  font-weight: 300;
}

.competitive h2,
.competitive h3 {
  font-weight: 300;
}

.competitive .classes h3 {
  font-weight: 400;
}

.competitive .coach {
  background: #53626F;
  color: white;
  font-weight: 100;
}

.competitive .coach .position {
  margin-bottom: 20px;
}